@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
.App {
  background: linear-gradient(to right, #2e51a2, #1b7ac2);
  min-height: 100vh;
  display: flex;
  font-family: Roboto-Regular;
  color: white;
}

.nav-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.nav-link:hover {
  color: #fff;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
.requesturl {
  margin: 21px 0px 0px 65px;
  font-size: 20px;
  color: cornflowerblue;
}
.url {
  font-weight: 600;
  color: azure;
}
.submitBtn {
  right: 50px;
  position: relative;
  background-color: transparent !important;
  border: none !important;
}
.list {
  list-style: none;
  display: flex;
  padding: 0;
  height: 70px;
  margin-left: 80px;
  position: relative;
  bottom: 12%;
}
.navHeader {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: grid;
  z-index: 99999;
  background: linear-gradient(
    90deg,
    rgba(0, 1, 36, 0.37298669467787116) 0%,
    rgba(61, 74, 166, 0.7595413165266106) 35%,
    rgba(0, 212, 255, 0.6334908963585435) 100%
  );
}
.list li {
  margin: 20px 60px 0px 0px;
  font-size: 30px;
}
.displayFlex {
  display: flex;
}
.searchtext {
  background-color: transparent !important;
  color: #ffff !important;
}
.listData {
  margin: 20px 30px 20px 30px;
  background-color: whitesmoke;
}
.searchPosition {
  padding: 0 6% 0 6%;
  margin-top: 100px;
}
.listDivision {
  flex-wrap: wrap;
  display: flex;
}
.listDivision li {
  width: 25%;
  display: grid;
  color: black;
  border-radius: 10px;
}

.listDivision li img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.alignCenter {
  text-align: center;
}
.titleText {
  font-weight: 600;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 0px;
}
.loadMore {
  justify-content: center;
  display: flex;
  font-size: 21px;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}
.loadMore:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.5;
}
